<button type="button" class="btn btn-primary" ng-click="onNewImage(tweet)">New Image</button>
<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-primary" ng-model="CENTER" ng-click="onNewJustify('LEFT', tweet)">Left</button>
	<button type="button" class="btn btn-primary active" ng-model="justifyCenter" ng-click="onNewJustify('CENTER', tweet)" >Center</button>
	<button type="button" class="btn btn-primary" ng-model="justifyRight" ng-click="onNewJustify('RIGHT', tweet)" >Right</button>
</div>
<!--This button doesn't do anything yet-->
<button type="button" class="btn btn-primary" ng-model="download" ng-click="onDownload('myCanvas{{$index}}')" >Download</button>