<div class="ui left icon action input" data-ng-init="init()">
	<input type="text" ng-model="username" placeholder="officaljaden">
	<i class="twitter icon"></i>
	<button class="{{isLoading}}" ng-click="onSearch(username)" ng-model="searchButton">Search</button>
</div>

<div class="errorMessage" ng-show = "userNotFound">
	<div error-message> </div>
</div>
<div class="poster" ng-click = "onDownloadTest('jen')" id = 'jen' >
    <img src= "../../images/brandon.png" />
    <div class="text">
        <p ng-style= "{{imageList[$index].css}}">words</p>	
	</div>
	<div class="author">
    		@author
	</div>
</div>

<div images></div>
