<canvas id="myCanvas" width="578" height="400"></canvas>

<script>
window.onload = function(){
 var canvas = document.getElementById("myCanvas");
 var context = canvas.getContext("2d");
 var imageObj = new Image();
 // TODO text/user should be passed in to the function
 var text = "Wishing you weren't dutch?"
 var line2 = " #itsbecauseurdutch"
 var user = "@brandon_littell"
 imageObj.onload = function(){
    // why don't images look square?
    context.drawImage(imageObj, 0, 0, 610, 610);
    context.font = "30px Georgia";
    context.fillStyle = "white";
    //TODO automatic text wrapping
    context.fillText(text, 20, 100);
    context.fillText(line2, 0, 148);
    context.fillText(user, 250, 350);
 };
 //param passed in
 imageObj.src = "https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/e35/sh0.08/11355905_1618613161745444_1921259379_n.jpg"; 
}
</script>