<h1>We need a catch tag line?</h1>
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Enter twitter username</label>
      <div class="input-group">
        <div class="input-group-addon">@</div>
        <input type="text" class="form-control" ng-model="username">
      </div>
  	<button type="submit" class="btn btn-primary" ng-click ="onSearch(username)" ng-model="searchButton"> Search</button>
  </div>
</form>
{{imageStatus}}
<div images></div>
